@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.body-container {
    margin: 0 15vw;
    text-align: left;
    width: 50vw;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.home-name {
    font-size: 4em;
    padding-top: 10vh;
}

.home-text {
    font-size: 3em;
    font-weight: normal;
    padding: 50px 0;
}