.section-container {
    height: 40vh;
    width: 50vw;
    overflow-y: scroll;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    transition-duration: 0.5s;
    scroll-snap-type: y mandatory;
}

section {
    height: 30vh;
    scroll-snap-align: start;
    /* background: white; */
    margin-bottom: 10vh;
    color: black;
}