.scroll-container {
    /* height: 90vh; */
    /* padding: 0 20vw; */
    padding-top: 20vh;
    /* overflow: scroll; */
}

.project-header {
    padding: 30px 0;
    color: #DDDDDD;
}

.scroll-indicator-container {
    text-align: center;
    margin: 5vh 0;
}

.scroll-indicator-container img {
    width: 50px;
    height: 50px;
}

.parent {
    position: relative;
    display: flex;
}

.col {
    flex-direction: column;
}

.section-container {
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.section-waypoint {
    padding: 15vh 5vw;
}

section {
    /* height: 40vh; */
    scroll-snap-align: center;
    color: black;
}

section h3 {
    color: white;
    font-size: 2em;
    padding-top: 0;
    text-shadow: 1px 1px 1px black;
    font-family: 'Volkhov', serif;
    /* padding: 15vh 0; */
}

#mobile-surface {
    display: none;
}

.location-desc, .location-name {
    color: white;
    font-family: 'Volkhov', serif;
}

@media screen and (max-width: 600px) {
    .parent {
        display: block;
    }

    .col {
        margin: 10vh 0;
    }

    .scroll-indicator-container {
        display: none;
    }

    #desktop-surface {
        display: none;
    }

    #mobile-surface {
        display: block;
    }
}